<section>
    <article>
        <h2>Message Recieved!</h2>
        <p>
            Thank you for reaching out <%=name%>! We will get back to you as soon as we can.
        </p>
    </article>
</section>