<html>
  <head>
    <title>Brandeis Login</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body>
    <header>
      <div class="header">
        <h1>Brandeis Login page</h1>
      </div>
    </header>
    <%- body%>
    <footer>
      <p>Copyright©2023</p>
    </footer>
  </body>
</html>
