<link rel="stylesheet" href="/css/style.css">

<table>
    <tr>
        <td>
            <h1>boo</h1>
            <p>i love food</p>
        </td>
    </tr>
    <td>
        <img src="/images/food.jpg" alt="placeholder">
    </td>
</table>