<div id="header" style="background-color: antiquewhite;">Header</div>
<%- body%> <!--helps keep the content of any page using the same header and footer-->
<div id="header" style="background-color: blue;">Footer</div>