<section>
    <article>
        <h2>Welcome</h2>
        <p>
            This is the home page of the <b>Brandeis Student and Alumni Association!</b> If you have any questions, you can contact us by clicking <a href="contact">here</a> or anywhere
            else on the page!
        </p>
    </article>
</section>