<link rel="stylesheet" href="/css/style.css" />
<section>
  <article>
      <h2>We are <b>Proud</b></h2>
      <h3>Students and alumni of <b>Brandeis University</b> </h3>
      <p>
         The Brandeis Students and Alumni Association is a vibrant community that offers lifelong oppurtunities for students and alumni to stay connected to Brandeis and each other.
      </p>
  </article>
</section>