<html>
  <head>
    <title>Brandeis Student and Alumni Association</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>
  <body>
    <header>
      <div><img src="/images/BrandeisLogo.png" alt="Brandeis University logo"></div>
      <div><h1>Brandeis University <br><h2><pre>   Student & Alumni Association</pre></h2></h1></div>
    </header>
    <nav>
      <a href="index">Home</a>
      <a href="about">About</a>
      <a href="jobs">Jobs</a>
      <a href="events">Events</a>
      <a href="contact">Contact</a>
    </nav>
    <%- body%>
    <footer>
      <p>&copy; Brandeis University Copyright 2023</p>

      <a href="https://www.facebook.com"> <img src="/images/facebookLogo.png" alt="facebook logo"></a> 
      <a href="https://www.instagram.com"> <img src="/images/instagramLogo.png" alt="instagram logo"></a> 
      <a href="https://www.linkedin.com"> <img src="/images/linkedLogo.png" alt="linkedin logo"></a> 
      <a href="https://www.youtube.com"> <img src="/images/youtubeLogo.png" alt="youtube logo"></a>
      <a href="https://www.twitter.com/"><img src="/images/twitterLogo.png" alt="twitter logo"></a>  

  </footer>
  </body>
</html>
