<html>
    <head>
        <link rel="stylesheet" href="adStyle.css">
    </head>
    <body>
       <div id="ad">
        <ul>
            <li class="line"><em>The <strong>best</strong> prices!</em></li>
            <li><em><strong>act while supplies last</strong></em></li>

        </ul>
        <br>
        <p>This is a showcase of css levels, pictures below!</p>
        <img src="levels.jpg" alt="Picture of css levels displayed on this page">

       </div> 

       <div class="shout">
        <h2>Hello</h2>
        <p>boop</p>
       </div>
       <div id="header"></div>
       
    </body>
</html>