<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Brandeis Webpage</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <div><img src="BrandeisLogo.png" alt="Brandeis University logo"></div>
            <div><h1>Brandeis University <br><h2><pre>   Student & Alumni Association</pre></h2></h1></div>
        </header>

        <nav>
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="jobs.html">Jobs</a>
            <a href="events.html">Events</a>
            <a href="contact.html">Contact</a>
        </nav>

        <section>
            <article>
                <h2>Event Page!</h2>

                <p>Here you can see all of the exciting up and coming events for our organization!</p>
            </article>
        </section>

        <footer>
            <p>&copy; Brandeis University Copyright 2023</p>
   
            <a href="https://www.facebook.com"> <img src="facebookLogo.png" alt="facebook logo"></a> 
            <a href="https://www.instagram.com"> <img src="instagramLogo.png" alt="instagram logo"></a> 
            <a href="https://www.linkedin.com"> <img src="linkedLogo.png" alt="linkedin logo"></a> 
            <a href="https://www.youtube.com"> <img src="youtubeLogo.png" alt="youtube logo"></a>
            <a href="https://www.twitter.com/"><img src="twitterLogo.png" alt="twitter logo"></a>  
   
        </footer>
    </body>
</html>