body { /*we make the background black because it's a little easier on the eyes, font for the entire page is going to be sans-serif since it's a digital only website*/
    background-color: lightgray;
    font-family: sans-serif;

}

header { /*we make this a flex box to allow both the image and the text to share the same line*/
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    color: black;
    padding: 10px 10px;
    width: 100%;

}

header > h1 {
    width: 90%;
    padding: 10px;
    float: left;

}

header > h2 {
    color: darkblue;
    border: 2px solid darkblue;

}

header > img { /*This tells the image it should stay at the left side of the page*/
    float: left;
    width: 10%;

}

nav { /*making the navbar black to give more variety to the background*/
    display: flex;
    background-color: black;

}

nav a { /*nav elements will become small boxes with their own space*/
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    border: 1px solid darkgray;

}

nav a:hover { /*I wanted blue to show when you hover over nav items to make the individual buttons distinct*/
    background-color: darkblue;
    color: white;
    text-decoration: underline;

}

section { /*this allows the section boxes to have flex with each other*/
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    width:60%;

}

article { /*dark blue border for extra color, allowed flexing, and keeping the same color theme of the page*/
    padding: 10px;
    color: black;
    flex: 1;

}

article > h2, h3 {
    color:darkblue;
}

footer { /*used clear to ensure that the footer would be at the bottom of the page, gave it some extra space so it didn't feel crushed by the articles*/
    clear: both;
    text-align: left;
    background-color: darkgray;
    display: flex;
    color: black;
    bottom: 0;
    width: 100%;
    padding: 10px 10px;
    border: 2px solid gray;

}

footer > p {
    float: left;
    width: 85%;
}

footer > img {
    float: right;
}

@media screen and (max-width:600px) { /*asking for max width of the screen*/
    article {
        flex: 100%;
    }
}